.about-project__stage {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .about-project__stage {
        font-size: 11px;
        line-height: normal;
    }
}