.techs__technology {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;
    text-align: center;
    width: 90px;
    height: 60px;
    background-color: #303030;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .techs__technology {
        font-size: 12px;
        width: 84px;
        height: 57px;
    }
}