.movies-list__button {
    border-radius: 6px;
    border: 0;
    padding: 0;
    background-color: #2F2F2F;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #ffffff;
    text-align: center;
    width: 1140px;
    height: 36px;
    margin: 50px auto 80px;
    cursor: pointer;
}

@media screen and (max-width: 1160px) {
    .movies-list__button {
        width: 900px;
    }
}

@media screen and (max-width: 930px) {
    .movies-list__button {
        width: 708px;
    }
}

@media screen and (max-width: 740px) {
    .movies-list__button {
        width: 570px;
    }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .movies-list__button {
        width: 300px;
    }
}