.about-project__card {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 930px) {
    .about-project__card {
        gap: 20px;
    }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .about-project__card {
        gap: 16px;
    }
}