.popup_opened {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    animation: slide-left 0.4s ease-in-out;
    z-index: 2;
}

.popup_opened::before {
    content: "";
    background-color: #000;
    position: fixed;
    margin: 0 auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
    visibility: visible;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}