.portfolio__links {
    width: 1140px;
    margin: 0 auto 125px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio__links a:last-child {
    border-bottom: none;
}

@media screen and (max-width: 1160px) {
    .portfolio__links {
        width: 900px;
    }
}

@media screen and (max-width: 930px) {
    .portfolio__links {
        width: 668px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 690px) {
    .portfolio__links {
        width: 570px;
    }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .portfolio__links {
        width: 292px;
        margin-bottom: 70px;
    }
}