.title {
    width: 1140px;
    min-height: 50px;
    border-bottom: 1px solid #DADADA;
    margin: 110px auto 0;
}

@media screen and (max-width: 1160px) {
    .title {
        width: 900px;
    }
}

@media screen and (max-width: 930px) {
    .title {
        width: 668px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 690px) {
    .title {
        width: 570px;
    }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .title {
        width: 292px;
        margin: 70px auto 0;
    }
}