.profile-form__button-container {
    display: flex;
    flex-direction: column;
    width: 410px;
    margin: 236px auto 0px;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .profile-form__button-container {
        margin-top: 226px;
    }
}

@media screen and (max-width: 420px) and (min-width: 320px) {
    .profile-form__button-container {
        width: 260px;
        margin-top: 395px;
    }
}