.footer {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .footer {
        gap: 30px;
    }
}