.header__hamburger-button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header__hamburger-button {
        display: flex;
    }
}