.not-found {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

@media screen and (max-width: 410px) and (min-width: 320px) {
    .not-found {
        width: 310px;
    }
}