.header__button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #FFF;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .header__button {
        display: none;
    }
}